/* src/App.css */

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100vh;
  box-sizing: border-box;
}

.App {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  /* This background will now apply to the whole App container */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  /* Stack Title and content-container vertically */
  align-items: center;
  /* Center horizontally */
}


.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.form-card {
  flex: 1 1 450px;
  min-width: 350px;
}

.ant-card.form-card {
  margin-top: 0 !important;
}

.ant-card-head {
  text-align: left;
}


.ant-card[title="JSON Schema Preview"] {

  flex: 1 1 450px;
  min-width: 350px;
  margin-top: 0 !important;
  
}


.ant-card[title="JSON Schema Preview"] pre {
  white-space: pre-wrap;
  word-break: break-all;
  max-height: 500px;
  overflow-y: auto;
}